ul li{
    font-size: .7em;
}

#outstandingLoan, #repayButton{
    color:red;
}

#laptopImg{
    padding: 0.3em;
    width: 90%
}

#selectedLaptop{
    height: 11em;
}

.card{
    margin: .5em;
}

.navbar p{
    color: white;
    margin: 0 1.5em;
}