ul li {
  list-style-type: circle;
  font-size: 0.7em;
}

ul {
  padding: 0.5em;
}

.card {
  margin: 0.5em;
  min-width: 10em;
  border: none;
}

.navbar p {
  color: white;
  margin: 0 1.5em;
}

#selectedLaptop {
  min-width: 20em;
}

.btn {
  width: 100%;
  margin-top: 0.2em;
}

#outstandingLoan {
  color: red;
}

#laptopImg {
  padding: 0.2em;
  width: 100%;
}

#selectedLaptop {
  min-height: 10em;
}

#laptopPrice {
  font-size: larger;
  align-self: flex-end;
}
